/* Sign In Button Styling */
.signIn_container {
  border: 2px solid lightgray;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
  padding: 1% 0% 5% 5%;
  margin: 12% 0% 0% 35%;
  width: 33%;
}
.signIn_container > h2 {
  margin-bottom: 8%;
}
.google-btn {
  width: 184px;
  height: 42px;
  margin-top: 2%;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  font-family: "Roboto", sans-serif;
}
.google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}
.google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}
.btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}
.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
  cursor: pointer;
}
.google-btn:active {
  background: #1669f2;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:500);
/* User Avatar Styling */
img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
